@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Coding Challenge 3

   Author:  Xiaoyin Druen 
   Date:     10/27/2020
   Filename: code5-3_print.css

*/

@page {
  size:8.5in 11in;
  margin:1in;
}

nav a {
  page-break-inside: avoid;

}

nav. +ol. +li {
  line-height: 0.3in;
}


nav ol {
  line-height: 0.3in;
}

a::after{
  display:inline-block;
  margin-left: 20px;
  word-wrap: break-word;
}
