@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Coding Challenge 3

   Author: Xiaoyin Druen
   Date:   10/18/2020
   
   Filename: code4-3_cube.css

*/
h1 {
   color:white;deg
   text-shadow:rgb(120,85,0) 0px 0px 20px;
}

div#cube {
     perspective: 500px; 
     transform-style: preserve-3d;
}

img{
  filter:sepia(1);
  box-shadow: 0px 0px 20px black}


img#img1{
  transform:translateZ(-150px);
 }

img#img2{
  transform: rotateX(90deg)
             translateZ(-150px);
}

img#img3{
  transform:rotateY(-90deg)
             translateZ(150px);
}

img#img4{
  transform:rotateY(90deg)
            translateZ(150px);
}

img#img5{
  transform:rotateX(-90deg)
            translateZ(-150px);
}
